body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.countryCard {
  height: 150px;
  border: 1px solid lightgray;
  margin: 10px;
  overflow: hidden;
}

.countryCard img {
  width: 100%;
  height: 100px;
}

.countryCard h3 {
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 200px) {
  .container {
    display: block;
  }
}
